.header {
    /* background-color: pink; */
    height: 75px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: white;
    text-align: center;
    padding: 28px 150px;
    text-decoration: none;
    margin-left: 0%;
}